@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
html,
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    color: #15202b;
}

a {
    text-decoration: none;
}

.logo {
    font-family: 'brush Script MT';
    font-size: 35px;
    color: #006aff;
}

.app-btn {
    background-color: #006aff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    transition: background-color 0.2s linear;
    box-shadow: 1px 2px 5px #15202b41;
    cursor: pointer;
}

.app-btn:hover {
    background-color: #341eff;
}

.app-link {
    letter-spacing: 0.5px;
    transition: all 0.2s linear;
    cursor: pointer;
}